<h1>Register new Client</h1>

<form action="/clients/create" method="post">

    <div class="form-control">
        <label for="name">Client Name:</label>
        <input type="text" name="name"  placeholder="Type client name..." />
    </div>

    <div class="form-control">
        <label for="name">Client Age:</label>
        <input type="text" name="age"  placeholder="Type client age..." />
    </div>

    <div class="form-control">
        <label for="name">Client Occupation:</label>
        <input type="text" name="occupation"  placeholder="Type client occupation..." />
    </div>

    <div class="form-control">
        <input type="submit" value="Save">
    </div>

</form>