*{
    margin:0;
    padding: 0;
    border: none;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 300px;
    margin:1em auto;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul{
    display: flex;
}

#navbar ul li a{
    display: block;
    padding: 5px 10px;
    color:#333;
}
#navbar ul li a:hover{
    text-decoration: underline;
}

h1{
    margin:1em 0
}

.form-control{
    max-width:100%;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}
.form-control input{
    padding:5px;
    border:1px solid #999;
}

table{
    text-align: left;
}
table tr th,
table tr td{
    padding: 5px 0;
}

.btn{
    display: block;
    cursor: pointer;
    padding:5px;
    border:1px solid #999;
}